/*Removes default on the body-tag*/
body{
    margin:0;
}
section{
  width: 500px;
  height: 600px;
  background-color: blue;
  border: 5px solid grey;
}
header,footer{
  width: inherit;
  height: 50px;
  background-color: black;
}
#uno{
  height: 156.5px;
  width: 490px;
  background-color: teal;
  border: 5px solid gold;
}
#dos{
  height: 156.5px;
  width: 490px;
  background-color: black;
  border: 5px solid gold;
}
#tres{
  height: 156.5px;
  width: 490px;
  background-color: teal;
  border: 5px solid gold;
}
#dos div{
  height: 156.5px;
  width: 49.55%;
  background-color: silver;
  border: 1px solid gold;
  float: left;
}
